* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-image: url(/images/background-casino.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 120px;
  color: white;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  padding-top: 100px;
  color: black;
}

h2 {
  font-size: 25px;
  color: black;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
  color: black;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  background-color: rgba(7, 91, 7, 0.6);
  z-index: 99;
}

nav button {
  width: 200px;
  font-size: 24px;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

nav button:nth-of-type(1) {
  background-color: rgb(7, 175, 7);
}

nav button:nth-of-type(2) {
  background-color: rgb(198, 155, 13);
}

nav button:nth-of-type(3) {
  background-color: orangered;
}

nav button:disabled {
  filter: brightness(50%);
  cursor: default;
}

aside {
  position: absolute;
  top: 35%;
  width: 120px;
  height: 300px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.my-info {
  right: 0;
  background-color: rgba(3, 111, 86, 0.9);
  border-radius: 20px 0 0 20px;
}

.bot-info {
  left: 0;
  border-radius: 0 20px 20px 0;
  background-color: rgba(4, 88, 103, 0.9);
}

input {
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
}

.my-sums,
.bot-sums {
  font-size: 30px;
  width: 100%;
  margin-top: 10px;
  background-color: rgb(192, 192, 192);
  color: black;
  font-weight: bold;
  border-radius: 10px;
}

.bot-cards,
.my-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15%;
  flex-wrap: wrap;
  gap: 5px;
}

.bot-cards img,
.my-cards img {
  width: 120px;
  animation: scrollToLeft 0.5s ease-in-out;
}

#result-modal {
  position: fixed;
  top: 20%;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 0px;
  background-color: rgb(210, 210, 210, 0.7);
  padding: 20px 5px;
  border-radius: 20px;
  animation: popUp 0.3s ease-in-out;
}

#result-modal p {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

@keyframes scrollToLeft {
  0% {
    transform: translateX(70%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes popUp {
  0% {
    transform: translateZ(100%);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes scrollToBottom {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
