*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(195, 150, 98);
    color: #eaeaea;
    display: flex;
    justify-content: center;
    z-index: 1;
    padding: 20px;
}

nav ul {
    display: flex;
    gap: 110px;
}

li {
    list-style-type: none;
    padding: 5px;
}

li a {
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
    padding: 10px 30px
}

li:hover {
    background-color: #0a0a0a;
    transform: scale(1.08);

}

.container {
    max-width: 1300px;
    margin-top: 50px;
    margin: 0 auto;
    padding: 70px 0;
}

.title {
    font-size: 20px;
    text-align: justify;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

.img-container {
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
    width: 70%;
    height: 70%;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.foto {
    overflow: hidden;
    position: relative;
    display: flex;
}

.img:hover {
    transform: scale(1.05);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

footer {
    display: flex;
    padding: 20px;
    align-items: center;
    background: rgb(66, 36, 1);
    color: #eaeaea;
    justify-content: space-between;
}

.img-foot {
    width: 100px;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1200px) {

    .img-container {
        width: 95%;
        height: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width: 1000px) {

    .img-container {
        width: 95%;
        height: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width: 750px) {

    .img-container {
        width: 95%;
        height: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}